@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
}

body {
  @apply min-h-screen bg-slate-50 text-slate-900;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
